/* Import Font - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,900&display=swap');
/* Animations */
@keyframes blink-dilation {
  from{
    width: 60%;
    opacity: 0.8;
  }
  to{
    width: 80%;
    opacity: 1;
  }
}

/* General values */
:root{
  --bg-color: #750b33;
  --bg-color-hover: #a32755;
  --emphasis-color: #cafc00;
  --emphasis-color-hover: #d9ff43;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, "Times New Roman", sans-serif;
  background-color: var(--bg-color);
  color: #ffff;
  overflow-x: hidden;
  scroll-behavior:smooth;
}

/* Elements */
section{
  padding: 4rem 8rem;
}

section > div{
  padding: 1rem 4rem;
}

.lowOpacity {
  opacity: 0.8;
}

.title{
  text-transform: uppercase;
  font-size: 32px;
}

.text{
  font-size: 20px;
  text-align: justify;
}

.emphasis{
  color: var(--emphasis-color);
}

.button{
  cursor: pointer;
  display: inline-block;
  padding: 1rem 2.5rem;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: var(--emphasis-color);
  border: 0;
  border-radius: 30px;
  color: var(--bg-color);
  text-decoration: none;
  transition: 0.25s;
}

.button:hover{
  background-color: var(--emphasis-color-hover);
  color: var(--bg-color-hover);
}

.icon{
  width: 48px;
}

.maxSizeImg{
  max-width: 1000px;
}

/* Hide Mobile Elements */
.mobile{
  display: none;
}

/* Page */

header {
  width: 100%;
}

header .topBorder{
  width: 100%;
}

h1 {
  margin: 0;
  padding: 0.625rem;
}

main {
  padding: 1rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  }

#landingSection{
  box-sizing: border-box;
  position: relative;
  text-align: center;
}

#landingSetion .landingSectionTitle h1{
  text-align: left !important;
}

#landingSetion .landingSectionTitle strong, #landingSection .landingSectionTitle span{
  font-weight: 900 !important;
}

#landingSection .devicesImage{
  position: relative;
  width: 80%;
}

#landingSection .logoTextImage{
  height: 45vh;
  position: relative;
  transform: translateY(-80%);
}

#landingSection .button{
  position: relative;
  margin-top: 4rem;
}

.sloganFeatureTitle{
  text-align: center;
  font-size:  900;
}

.sloganFeatureTitle h2{
  margin: 0;
}

#about .profileImage{
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#about .aboutContainer #aboutText1{
  font-weight: 600;
}

#about .aboutContainer #abouText1 .emphasisText{
  display: block;
  padding-top: 0.5rem;
}

#about .aboutSlogan {
  margin-top: 3rem;
  text-align: center;
  cursor: pointer;
}

#about .aboutSlogan .text{
  display: inline-block;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid var(--emphasis-color);
}

#betano .betanoContainer img{
  width: 100%;
  /* animation-name: blink-dilation;
  animation-timing-function: ease-in-out;
  animation-direction:alternate;
  animation-iteration-count: infinite;
  animation-duration: 1.2s; */
}

#betano {
  text-align: center;
}

form {
  padding: 1.5rem;
}

form .text{
  margin-bottom: 3rem;
}

form .title, form .text{
  text-align: center;
}

form label#emailLabel{
  text-align: left;
  font-weight: 700;
  color: whitesmoke;
  position: relative;
}

form input#email{
  width: 100%;
  font-size: 20px;
  padding: 1rem 0 1rem 1rem;
  border: 0;
  border-radius: 4px;
  outline: none;
  margin: 0.5rem 0 2rem;
}

form .button {
  font-weight: 900 !important;
  text-align: center;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 24px;
}

form .buttonInput{
  text-align: center;
}

footer {
  position: relative;
  padding: 1rem 0 2rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem
}

#contact .contactLinks{
  display: flex;
  justify-content: center;
  gap: 4rem 
}

@media screen and (max-width: 1024px) {
  html,
  body {
    width: 100vw;
    background-image: none;
  }

  .desktop{
    display: none;
  }

  .mobile{
    display: block;
  }

  section{
    padding: 2rem 1rem;
  }

  section > div {
    padding: 1rem 0;
  }

  header .title {
    font-size: 1.4rem;
  }

  main {
    padding: 0 1rem;
    display: flex;
    justify-content: center;
  }

  #landingSection .devicesImage{
    position: relative;
    width: 100%;
  }

  #landingSection .button{
    margin-top: 1rem;
  }

  #sloganFeature{
    padding: 2rem 0;
  }

}
